/*
font-family: 'Old Standard TT', serif;
font-family: 'Arsenal', sans-serif;
*/
body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 36px;
    color: #3B6064;
    margin-bottom: 5px;
    border-bottom: 2px solid #364958;
    padding-bottom: 5px;
}

h5 {
    font-size: 16px;
}

h2, h3, h4,h5, p {
    font-family: 'Arsenal', sans-serif;
    color: #364958;
}

p strong {
    color: #3B6064;
}

#old-standard {
    font-family: 'Old Standard TT', serif;
}

#arsenal {
    font-family: 'Arsenal', sans-serif;
}

img#ridership {
    max-width: 600px;
}

#check-it {
    margin-bottom: 5px;
}

#exp, #edsk {
    margin: 5px 50px;
}

#about-photo {
    width: 300px;
}

.nav {
    font-family: 'Old Standard TT', serif;
    background-color: #55828B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.nav_image {
    display: flex;
    flex-grow: 1;
}

.nav img {
    max-height: 100px;
    margin-left: 10px;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
}

.nav ul li {
    display: inline-flex;
    flex-grow: 2;
    font-size: 20px;
}

.nav ul li a{
    text-decoration: none;
    color: #c9e4ca;
}

ul.index li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87BBA2;
}


.banner img {
    height: 300px;
}

ul.social {
    margin-left: -3%;
}

.social li {
    display: inline-flex;
}

.content {
    background-color: #c9e4ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content.about {
    padding: 0 5%;
}


p#blurb {
    margin: 10px;
}

.stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5%;
}

.stories h1 {
    font-size: 20px;
    font-style: normal;
    border-bottom: none;
}

.stories a {
    text-decoration: none;
}

.stories img {
    max-width: 360px;
    margin-right: 2%;
}

.group {
    display: flex;
    align-items: center;
    margin: 3%;
    width: 100%;
}

.sections {
    display: flex;
}

.sections ul li {
    font-family: 'Arsenal', sans-serif;
    color: #364958;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #55828B;
}

.footer h2 {
    font-family: 'Old Standard TT', serif;
    color: #3B6064;
    padding: 10px;
}
