body {
    background: #f5dd90;
    display: flex;
    flex-direction: column;
}

#old-standard {
    font-family: 'Old Standard TT', serif;
}

#arsenal {
    font-family: 'Arsenal', sans-serif;
}

.routes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.financials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}
