.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.routes {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.financials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}
