/*
font-family: "Roboto Slab", serif;
font-family: "Raleway", sans-serif;
*/

h1 {
    font-size: 36px;
}

h3, h5 {
    font-size: 20px;
}

h1, h3, h5 {
    font-family: "Roboto Slab", serif;
}

p {
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

blockquote {
    font: 16px normal Helvetica, sans-serif;
    font-style: italic;
    color: #37505C;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 4px solid #ccc;
}

.interstitial {
    font-style: italic;
}

.caption {
    color: #6e6e6e;
    font-size: 14px;
}

.workers::after {
  content: "";
  clear: both;
  display: table;
}

.column img{
    float: left;
    width: 48%;
    padding: 5px;
}

.column p{
    float: left;
    width: 48%;
    padding: 5px;
}




/*
The content wrapper centers the content on the page
*/
#content {
    margin: 0 auto;
    width: 740px;
}

#headline h3 {
    font-weight: bold;
}

#headline h5 {
    color: #ccc;
}




#circle-map {
    width: 33%;
    float: right;
    margin: 5%;
}

#notre-dame-graphic, #transept, #ile-de-la-cite, #stained-glass{
    display: block;
    width: 100%;
    border: 0;
}
